body {
    font-family: 'Roboto Condensed', sans-serif;
    /*width: auto;
    background-image: url("../IMAGES/BackGround.png");
    background-size: 100%;*/
    background-color: #013765;

}

#navbar {
    background-image: url("../IMAGES/nav_background.jpg");
    background-repeat: repeat-x;
    background-size: 140px;
    width: 110%;
    margin-top: -10px;
    margin-left: -10px;
}

#navbar-brand{
    width: 15%;
}

#navbar a {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
}
nav a img {
    margin-left: 45%;
    margin-top: 15px;
}

nav a span {
    display: none;
}

nav #navbarNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: 0;
}

#notificacion{
    background-color: #013765;
    color: aqua;
    padding-top: 5px;
    height: 25px;
    margin-top: 0px;
    margin-left: -10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#links i {
    padding-left: 10px;
}

#itemsCar {    
    margin-left: -10px;
    margin-top: -6px;
    background-color: green;
    border-radius: 12px;
    height: 19px;
    width: 20px;
    padding: 1px;
    justify-content: center;
}

.seccion_noticias{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.seccion_noticias span {
    display: flex;
    justify-content: center;
    color: rgb(32, 32, 32);
    text-shadow: rgba(0, 0, 0, 0.466) 0.1em 0.1em 0.2em;
}

.titulo{
    padding: 10px;
    font-size: 30px;
}

.item {
    padding: 10px;
    width: 90%;
    display: flex;
}

.item img{
    width: 45%;
}
.item span{
    width: 90%;
    display: block;
}

.ext{
    padding: 10px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle form {
    display: flex;
    flex-direction: column;
}

.redes{
    display: flex;
    justify-content: space-around;
}

.wrapper {
    display: flex;

}

.wrapper input[type="text"] {
    flex: 1 1 auto;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.card_item {
    background-color: #AEBBD9;
    width: 185px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    border-radius: 15px;
    flex-wrap: nowrap;
    justify-content: space-between;    
}
.card_item img{
    border-radius: 15px;
    padding: 10px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.card_item .nombre{
    color: azure;
    font-size: small;
}

.card_item .precio{
    color: azure;
    font-size: xx-large;
}

.card_item a i{
    color: #013765;
    position: relative;
    top: 0;
    left: 0;
    font-size: 40px;
}


@media (min-width: 768px) {

    #navbar {
        background-image: url("../IMAGES/nav_background.jpg");
        background-repeat: repeat-x;
        background-size: 90px;
        margin-top: -15px;
        margin-left: -10px;
        width: 110%;
    }
    
    #navbar-brand{
        width: 15%;
    }
    
    #navbar a {
        color: yellow;
        font-weight: bold;
    }
    nav a img {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
    
    nav a span {
        display: block;
        position: absolute;
        margin-top: -40px;
        margin-left: 100px;
    }
    
    nav #navbarNav{
        width: 80%;
        position: absolute;
        margin-top: -40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        right: 0;
    }

    #notificacion{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #notificacion span{
        display: flex;
        justify-content: space-around;
    }
    

    #links {
        display: flex;
        flex-direction: row;
    }

    #links span {
        justify-content: center;
    }

    #itemsCar {    
        margin-left: -10px;
        margin-top: -6px;
        background-color: green;
        border-radius: 12px;
        height: 19px;
        width: 20px;
        padding: 1px;
        justify-content: center;
        text-align: center;
    }

    .seccion_noticias span {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }    
    
    .item {
        padding: 10px;
        width: 45%;
        display: inline-flex;
    }
    
    .item img{
        width: 45%;
    }
    .item span{
        width: 45%;
        display: block;
    }
    
    .ext{
        padding: 10px;
    }

    .middle {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .redes{
        display: flex;
        justify-content: end;
    }
    
    .redes i{
        padding: 15px;
    }
}


